# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/

# Build output
dist/
build/

# Prisma
prisma/migrations/
*.tsbuildinfo

# dotenv environment files
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# Coverage
coverage/
.nyc_output/
.nyc_output/

# IDEs and Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS files
.DS_Store

# Temp folders
.temp/
.tmp/

# Parcel cache
.cache/
.parcel-cache/

# Snowpack
web_modules/

# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Serverless
.serverless/

# FuseBox
.fusebox/

# DynamoDB Local
.dynamodb/

# TernJS port file
.tern-port

# VSCode test versions
.vscode-test

# Optional caches
.npm
.eslintcache
.stylelintcache

# Misc
*.tgz
lib-cov
bower_components/
.lock-wscript
build/Release